*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.dot
*.png
*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
*~

testpy-output

bindings/python/pybindgen/
output/*
output_*
venv/

ms_print.*
massif.*
coverity
TAGS

.lock-ns3_*
.ns3rc

build-dir/
build/
/.cproject
/.project

version.cache

.gitlab-ci-local/
.idea/
.vscode
cmake-*/
vcpkg/

.vs/

# Ignore local cache used by e.g. clangd
.cache/
.DS_Store
